[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
flask = "*"
gunicorn = "*"
"psycopg2" = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
